.menuContainer{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);;
    display:flex;
    justify-content: space-between;
}

.menuContainer ul{
    list-style-type: none;
}

.menuContainer ul li{
    display: inline-block;
}

/*.menuContainer ul a{
    height: 50px;
    width: 70px;
    display: inline-block;
    border-radius: 15px;
    background-color: #3d6cbd;
    color: #f6d365;
    text-decoration: none;
}
.menuItem{
    display: flex;
}
*/
.menuHome{
    display: inline-block;
    margin: 10px;
    background-color: royalblue;
    text-decoration: none;
    border-radius: 10px;
    color:darksalmon
    width: auto;
    padding: 15px;
    

}


.menuContainer ul a{
    width: auto;
    padding: 15px;
    display: inline-block;
    margin: 10px;
    background-color: royalblue;
    text-decoration: none;
    border-radius: 10px;
    color:darksalmon    
}
header nav{
    position: sticky;
    top: 0;
}


header img{
    width: 100%;
}
.container{
    background-color: aqua;
    padding: 5px;
}
.container div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: beige;
    
}
.container-flex{
    display: flex;
    background-color:coral;
    padding: 3px;
    justify-content: center; /*flex-end, flex-start, center*/
    /*para cambiar de fila a columna*/
    flex-direction: row;
    width: 100%;
    height: 250px;
    flex-wrap: wrap;
    align-items: center;

}
.container-flex div{
    margin: 2PX;
    width: 100px;
    height: 100px;
    background-color:darkseagreen;
    text-align: center;
}
.flex-item{
    display: flex;

}

/*media query, sirve para cambiar en determinadas resoluciones*/
@media screen and (max-width:600px){
.container-flex{
    flex-direction:column;
}
}
section{
    height: 650px;
}

section img{
    width: 40%;
}
html{
    scroll-behavior: smooth;
}

/*reset margenes*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
   }

.content-text{
    padding: 5px;
    margin: 10px;
}

section a{
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color:#3d6cbd;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
}

section a:hover{
    font-weight: bolder;
}
section a:active{
    opacity: 0.5;
}
@media screen and (max-width: 1000px){
    section{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}









/*aplicar colores*/
section:first-child{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
section:nth-child(2){
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
section:last-child{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); 
}